.container {
    width: 100%;
    max-width: 600px;
}

.title {
    font-weight: 900;
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #143e68;
}

.list {
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
}

@media (max-width: 599px) {
    .list {
        max-height: 60vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
}