.toolbar {    
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #396fa5;
    color: white;
    font-weight: 600;
    width: 100%;
    padding-right: 20px;
}

.toolbar img {
    margin: 0 16px;
    cursor: pointer;
}

.title {
    flex-basis: 95%;
}

.home{
    font-size: 1.3rem;
    cursor: pointer;
    color: rgb(227, 227, 227);
}
.home:hover{
    color: rgb(255, 255, 255);
}